:host>.title {
	display: flex;
	position: relative;
	width: 305px;
	height: 45px;
	z-index: 3;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0px 0px 34px 0px;
}

:host>.control-text {
	display: flex;
	position: relative;
	width: 305px;
	height: 69px;
	z-index: 1;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0px 0px 21px 0px;
}

:host>.control-text-2 {
	display: flex;
	position: relative;
	width: 305px;
	height: 69px;
	z-index: 2;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0px 0px 60px 0px;
}

:host>.primary-lg {
	display: block;
	position: relative;
	width: 150px;
	height: 50px;
	z-index: 0;
	background: #e2007a;
	background-size: cover;
	border-radius: 25px;
}
