.btn-primary-label {
	color: #FFFFFF;
	font-size: 13px;
	font-family: 'GothamHTF-Medium';
	letter-spacing: 1.2px;
	text-align: center;
	line-height: 1;
	text-transform: uppercase;
}

:host>.label {
	display: block;
	position: absolute;
	width: 115px;
	height: 13px;
	z-index: 1;
	top: 19px;
	left: 18px;
	align-items: flex-start;
}
