html {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.stext {
	display: inline-flex;
}

.stext>span {
	width: 100%;
}
.container {
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 20;
}

.desktop {
	display: block;
	position: absolute;
	width: 100%;
	height: 1440px;
	z-index: 0;
	top: 0;
	left: 0;
	padding: 0px 0px 2px 0px;
}

.desktop>.home-hero {
	display: block;
	position: relative;
	width: 100%;
	height: 608px;
	z-index: 0;
	padding: 240px 0px 239px 0px;
	background: url('../img/rectangle.jpg') no-repeat center;
	background-size: cover;
	border-radius: 0;
}

.desktop>.header-desktop {
	display: block;
	position: absolute;
	width: 100%;
	height: 110px;
	z-index: 3;
	top: 0;
	left: 0;
	padding: 33px 81px 14px 79px;
}

.desktop>.claim-whatsapp {
	display: block;
	position: relative;
	width: 100%;
	height: 110px;
	z-index: 1;
	padding: 29px 0px 31px 0px;
	background: #000000;
	background-size: cover;
	border-radius: 0;
}

.desktop>.signin {
	display: block;
	position: relative;
	width: 100%;
	height: 720px;
	z-index: 2;
	padding: 98px 0px 274px 0px;
	border-radius: 0;
}
