
/* --------------
skout! components
-------------- */

.home-hero-body>.hero-title {
	position: relative;
	width: 847px;
	height: 32px;
	z-index: 0;
	margin: 0px 0px 25px 0px;
	align-items: flex-start;
}

.primary-md>.label {
	position: absolute;
	width: 76px;
	height: 13px;
	z-index: 1;
	top: 11px;
	left: 18px;
	align-items: flex-start;
}

.search-bar>.search-input {
	position: absolute;
	width: 603px;
	height: 19px;
	z-index: 3;
	top: 25px;
	left: 60px;
	align-items: flex-start;
}

.header-desktop>.group>.lavora-con-noi {
	position: relative;
	width: 118px;
	height: 18px;
	z-index: 0;
	margin: 0px 39px 0px 0px;
	align-items: flex-start;
}

.header-desktop>.group>.faq {
	position: relative;
	width: 31px;
	height: 18px;
	z-index: 1;
	margin: 0px 325px 0px 0px;
	align-items: flex-start;
}

.primary-md>.label {
	position: absolute;
	width: 76px;
	height: 13px;
	z-index: 1;
	top: 11px;
	left: 18px;
	align-items: flex-start;
}

.claim-whatsapp>.container>.group>.rimani-sempre-in-con {
	position: relative;
	width: 425px;
	height: 17px;
	z-index: 1;
	margin: 0px 23px 0px 0px;
	align-items: flex-start;
	color: #FFFFFF;
	font-size: 17px;
	font-family: 'GothamHTF-Book';
	letter-spacing: 0;
	text-align: center;
	line-height: 1;
	text-transform: uppercase;
}

.label-icon-left>.group>.label {
	position: relative;
	width: 51px;
	height: 13px;
	z-index: 0;
	margin: 0px 8px 0px 0px;
	transform: rotateZ(-180deg);
	align-items: flex-start;
}

.title>.sup {
	position: relative;
	width: 304px;
	height: 16px;
	z-index: 1;
	margin: 0px 0px 3px 0px;
	align-items: flex-start;
}

.title>.text {
	position: relative;
	width: 304px;
	height: 26px;
	z-index: 0;
	align-items: flex-start;
}

.control-text>.group>.label {
	position: relative;
	width: 195px;
	height: 11px;
	z-index: 0;
	margin: 0px 21px 0px 0px;
	align-items: flex-start;
}

.control-text>.group>.required {
	position: relative;
	width: 87px;
	height: 10px;
	z-index: 1;
	align-items: flex-start;
}

.control-input-text>.value {
	position: absolute;
	width: 276px;
	height: 16px;
	z-index: 1;
	top: 16px;
	left: 15px;
	align-items: flex-start;
}

.control-text-2>.group>.label {
	position: relative;
	width: 195px;
	height: 11px;
	z-index: 0;
	margin: 0px 21px 0px 0px;
	align-items: flex-start;
}

.control-text-2>.group>.required {
	position: relative;
	width: 87px;
	height: 10px;
	z-index: 1;
	align-items: flex-start;
}

.control-input-text>.value {
	position: absolute;
	width: 276px;
	height: 16px;
	z-index: 1;
	top: 16px;
	left: 15px;
	align-items: flex-start;
}

.primary-lg>.label {
	position: absolute;
	width: 115px;
	height: 13px;
	z-index: 1;
	top: 19px;
	left: 18px;
	align-items: flex-start;
}

.home-hero>.rectangle {
	position: absolute;
	width: 100%;
	height: 332px;
	z-index: 1;
	top: 0;
	left: 0;
	background: linear-gradient(-180deg, #000000 0%, rgba(0, 0, 0, 0.00) 100%);
	background-size: cover;
	border-radius: 0;
	display: inline-block;
}

.home-hero>.container>.home-hero-body {
	position: relative;
	width: 847px;
	height: 129px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.home-hero-body>.search-bar {
	position: relative;
	width: 847px;
	height: 72px;
	z-index: 1;
	background: #ffffff;
	background-size: cover;
	border-radius: 3px;
}

.search-bar>.btn-icon-ghost {
	position: absolute;
	width: 36px;
	height: 36px;
	z-index: 1;
	top: 18px;
	left: 10px;
	padding: 6px 6px 6px 6px;
}

.btn-icon-ghost>.icon {
	position: relative;
	width: 24px;
	height: 24px;
	z-index: 0;
	padding: 0px 2px 0px 3px;
}

.icon>.pin {
	position: relative;
	width: 19px;
	height: 24px;
	z-index: 0;
}

.search-bar>.btn-icon-ghost-2 {
	position: absolute;
	width: 36px;
	height: 36px;
	z-index: 2;
	top: 18px;
	left: 679px;
	padding: 6px 6px 6px 6px;
}

.btn-icon-ghost-2>.icon {
	position: relative;
	width: 24px;
	height: 24px;
	z-index: 0;
}

.icon>.crosshair {
	position: relative;
	width: 24px;
	height: 24px;
	z-index: 0;
}

.search-bar>.primary-md {
	position: absolute;
	width: 112px;
	height: 36px;
	z-index: 4;
	top: 18px;
	left: 715px;
	background: #e2007a;
	background-size: cover;
	border-radius: 18px;
}

.header-desktop>.group {
	position: relative;
	width: 1280px;
	height: 63px;
	z-index: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.header-desktop>.group>.logo-negativo {
	position: relative;
	width: 260px;
	height: 63px;
	z-index: 2;
	margin: 0px 350px 0px 0px;
	padding: -1px 0px 0px 0px;
}

.logo-negativo>.logo-negativo {
	position: relative;
	width: 260px;
	height: 64px;
	z-index: 0;
}

.header-desktop>.group>.icon-2 {
	position: relative;
	width: 36px;
	height: 36px;
	z-index: 3;
	margin: 0px 9px 0px 0px;
	background: #e2007a;
	background-size: cover;
	border-radius: 50%;
}

.icon-2>.icon {
	position: absolute;
	width: 24px;
	height: 24px;
	z-index: 1;
	top: 6px;
	left: 6px;
	padding: 3px 0px 3px 0px;
}

.icon>.basket {
	position: relative;
	width: 24px;
	height: 18px;
	z-index: 0;
}

.header-desktop>.group>.primary-md {
	position: relative;
	width: 112px;
	height: 36px;
	z-index: 4;
	background: #e2007a;
	background-size: cover;
	border-radius: 18px;
}

.claim-whatsapp>.container>.group {
	position: relative;
	width: 598px;
	height: 50px;
	z-index: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.claim-whatsapp>.container>.group>.primary-icon-lg {
	position: relative;
	width: 150px;
	height: 50px;
	z-index: 0;
	background: #e2007a;
	background-size: cover;
	border-radius: 25px;
}

.primary-icon-lg>.label-icon-left {
	position: absolute;
	width: 83px;
	height: 24px;
	z-index: 1;
	top: 13px;
	left: 34px;
}

.label-icon-left>.group {
	position: relative;
	width: 83px;
	height: 24px;
	z-index: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transform: rotateZ(-180deg);
}

.label-icon-left>.group>.icon {
	position: relative;
	width: 24px;
	height: 24px;
	z-index: 1;
	transform: rotateZ(-180deg);
}

.icon>.whatsapp {
	position: relative;
	width: 24px;
	height: 24px;
	z-index: 0;
}

.signin>.container>.form-login {
	position: relative;
	width: 305px;
	height: 348px;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.form-login>.title {
	position: relative;
	width: 305px;
	height: 45px;
	z-index: 3;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0px 0px 34px 0px;
}

.form-login>.control-text {
	position: relative;
	width: 305px;
	height: 69px;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0px 0px 21px 0px;
}

.control-text>.group {
	position: relative;
	width: 305px;
	height: 11px;
	z-index: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0px 0px 8px 0px;
	padding: 0px 1px 0px 1px;
}

.control-text>.control-input-text {
	position: relative;
	width: 305px;
	height: 50px;
	z-index: 1;
	background: #ffffff;
	background-size: cover;
	border: 2px solid #dcdcdc;
	border-radius: 3px;
}

.form-login>.control-text-2 {
	position: relative;
	width: 305px;
	height: 69px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0px 0px 60px 0px;
}

.control-text-2>.group {
	position: relative;
	width: 305px;
	height: 11px;
	z-index: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0px 0px 8px 0px;
	padding: 0px 1px 0px 1px;
}

.control-text-2>.control-input-text {
	position: relative;
	width: 305px;
	height: 50px;
	z-index: 1;
	background: #ffffff;
	background-size: cover;
	border: 2px solid #dcdcdc;
	border-radius: 3px;
}

.form-login>.primary-lg {
	position: relative;
	width: 150px;
	height: 50px;
	z-index: 0;
	background: #e2007a;
	background-size: cover;
	border-radius: 25px;
}
