
/* --------------
skout! components
-------------- */

.content--hero>.hero__title {
	position: relative;
	width: 100%;
	z-index: 0;
	margin-bottom: 9px;
	text-shadow: 0px 2px 4px var(--color-1);
	align-items: flex-start;
}

.content--hero>.hero__title-2 {
	position: relative;
	width: 100%;
	z-index: 1;
	align-items: center;
}

.command>.group>.select {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 339px;
	align-items: center;
}

.command>.group>.ctrl>.title {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 86px;
	align-items: center;
}

.command>.group>. {
	position: relative;
	width: 100%;
	z-index: 3;
	max-width: 13px;
	align-items: flex-start;
}

.command>.group>.cmd>.title {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 119px;
	align-items: center;
}

.command>.group>.-2 {
	position: relative;
	width: 100%;
	z-index: 5;
	max-width: 13px;
	align-items: flex-start;
}

.command>.group>.s>.title {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 52px;
	align-items: center;
}

.header>.group>.nav--primary>.nav__item {
	position: relative;
	width: 100%;
	z-index: 0;
	align-items: flex-start;
}

.logo>.skout {
	position: relative;
	width: 100%;
	z-index: 0;
	max-width: 184px;
	transform: rotateZ(-5deg);
	text-shadow: 0px 8px 8px var(--color-2);
	align-items: flex-start;
	color: var(--color-3);
	font-size: 80px;
	font-family: var(--font-3);
	letter-spacing: 0;
	text-align: center;
	line-height: 1;
}

.btn--md>.btn__label {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 76px;
	align-items: flex-start;
}

.section--features>.container>.row:nth-child(1)>.col>.features {
	position: relative;
	width: 100%;
	z-index: 6;
	min-height: 40px;
	text-shadow: 0px 2px 4px var(--color-1);
	align-items: flex-start;
}

.data__row>.data__label {
	position: relative;
	width: 100%;
	z-index: 2;
	max-width: 506px;
	align-items: flex-start;
}

.data__row>.data__value {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 506px;
	align-items: flex-start;
}

.data__row>.data__label {
	position: relative;
	width: 100%;
	z-index: 2;
	max-width: 506px;
	align-items: flex-start;
}

.data__row>.data__value {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 506px;
	align-items: flex-start;
}

.data__row>.data__label {
	position: relative;
	width: 100%;
	z-index: 2;
	max-width: 506px;
	align-items: flex-start;
}

.data__row>.data__value {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 506px;
	align-items: flex-start;
}

.data__row>.data__label {
	position: relative;
	width: 100%;
	z-index: 2;
	max-width: 506px;
	align-items: flex-start;
}

.data__row>.data__value {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 506px;
	align-items: flex-start;
}

.data__row>.data__label {
	position: relative;
	width: 100%;
	z-index: 2;
	max-width: 506px;
	align-items: flex-start;
}

.data__row>.data__value {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 506px;
	align-items: flex-start;
}

.section--credits>.container>.row:nth-child(1)>.col>.share {
	position: relative;
	width: 100%;
	z-index: 3;
	min-height: 40px;
	text-shadow: 0px 2px 4px var(--color-1);
	align-items: flex-start;
}

.section--credits>.container>.row:nth-child(2)>.col>.help-spread-the-love {
	position: relative;
	width: 100%;
	z-index: 2;
	min-height: 416px;
	align-items: center;
}

.section--hero>.overlay {
	position: absolute;
	width: 100%;
	z-index: 1;
	top: 0;
	left: 0;
	height: 481px;
	background: linear-gradient(-180deg, #000000 0%, rgba(0, 0, 0, 0.00) 100%);
	background-size: cover;
	border-radius: 0;
	display: inline-block;
}

.section--hero>.container>.row:nth-child(1)>.col>.content--hero {
	position: relative;
	width: 100%;
	z-index: 2;
	min-height: 180px;
	display: block;
	flex-direction: column;
	padding-top: 10px;
	padding-bottom: 17px;
}

.section--hero>.container>.row:nth-child(2)>.col>.command {
	position: relative;
	width: 100%;
	z-index: 3;
	min-height: 160px;
	align-items: center;
}

.command>.group {
	position: relative;
	width: 100%;
	z-index: 0;
	min-height: 160px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 55px;
	padding-bottom: 55px;
	padding-left: 51px;
	padding-right: 48px;
	background: var(--color-4);
	background-size: cover;
	border-radius: 20px;
}

.command>.group>.ctrl {
	position: relative;
	width: 100%;
	z-index: 2;
	max-width: 93px;
	min-height: 50px;
	padding-top: 3px;
	padding-bottom: 4px;
	align-items: center;
	padding-left: 4px;
	padding-right: 3px;
	background: var(--color-5);
	background-size: cover;
	border: 3px solid var(--color-3);
	border-radius: 8px;
}

.command>.group>.cmd {
	position: relative;
	width: 100%;
	z-index: 4;
	max-width: 125px;
	min-height: 50px;
	padding-top: 3px;
	padding-bottom: 3px;
	align-items: center;
	padding-left: 3px;
	padding-right: 3px;
	background: var(--color-5);
	background-size: cover;
	border: 3px solid var(--color-3);
	border-radius: 8px;
}

.command>.group>.s {
	position: relative;
	width: 100%;
	z-index: 6;
	max-width: 58px;
	min-height: 50px;
	padding-top: 3px;
	padding-bottom: 3px;
	align-items: center;
	padding-left: 3px;
	padding-right: 3px;
	background: var(--color-5);
	background-size: cover;
	border: 3px solid var(--color-3);
	border-radius: 8px;
}

.header>.group {
	position: relative;
	width: 100%;
	z-index: 0;
	max-width: 1280px;
	min-height: 144px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.header>.group>.nav--primary {
	position: relative;
	width: 100%;
	z-index: 0;
	max-width: 196px;
	min-height: 26px;
	align-items: center;
}

.header>.group>.logo {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 265px;
	min-height: 144px;
	padding-top: 33px;
	padding-bottom: 31px;
	padding-left: 41px;
	padding-right: 40px;
}

.header>.group>.nav--secondary {
	position: relative;
	width: 100%;
	z-index: 2;
	max-width: 157px;
	min-height: 36px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.header>.group>.nav--secondary>.btn--icon {
	position: relative;
	width: 100%;
	z-index: 0;
	max-width: 36px;
	min-height: 36px;
	padding-top: 6px;
	padding-bottom: 6px;
	align-items: center;
	padding-left: 6px;
	padding-right: 6px;
	background: var(--color-5);
	background-size: cover;
	border-radius: 50%;
}

.btn--icon>.arrow-down {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 24px;
	min-height: 24px;
	align-items: center;
	padding-left: 2px;
	padding-right: 1px;
}

.arrow-down>.arrow-down {
	position: relative;
	width: 100%;
	z-index: 0;
	max-width: 21px;
	min-height: 24px;
}

.header>.group>.nav--secondary>.btn--md {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 112px;
	min-height: 36px;
	padding-top: 11px;
	padding-bottom: 12px;
	align-items: center;
	padding-left: 18px;
	padding-right: 18px;
	background: var(--color-5);
	background-size: cover;
	border-radius: 8px;
}

.section--features>.container>.row:nth-child(2)>.col>.data__row {
	position: relative;
	width: 100%;
	z-index: 1;
	min-height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 17px;
	padding-bottom: 17px;
	padding-right: 0;
}

.data__row>.rectangle {
	position: absolute;
	width: 100%;
	z-index: 0;
	top: 49px;
	left: 0;
	height: 1px;
	background: var(--color-4);
	background-size: cover;
	border-radius: 0;
	display: inline-block;
}

.section--features>.container>.row:nth-child(3)>.col>.data__row {
	position: relative;
	width: 100%;
	z-index: 2;
	min-height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 17px;
	padding-bottom: 17px;
	padding-right: 0;
}

.data__row>.rectangle {
	position: absolute;
	width: 100%;
	z-index: 0;
	top: 49px;
	left: 0;
	height: 1px;
	background: var(--color-4);
	background-size: cover;
	border-radius: 0;
	display: inline-block;
}

.section--features>.container>.row:nth-child(4)>.col>.data__row {
	position: relative;
	width: 100%;
	z-index: 3;
	min-height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 17px;
	padding-bottom: 17px;
	padding-right: 0;
}

.data__row>.rectangle {
	position: absolute;
	width: 100%;
	z-index: 0;
	top: 49px;
	left: 0;
	height: 1px;
	background: var(--color-4);
	background-size: cover;
	border-radius: 0;
	display: inline-block;
}

.section--features>.container>.row:nth-child(5)>.col>.data__row {
	position: relative;
	width: 100%;
	z-index: 4;
	min-height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 17px;
	padding-bottom: 17px;
	padding-right: 0;
}

.data__row>.rectangle {
	position: absolute;
	width: 100%;
	z-index: 0;
	top: 49px;
	left: 0;
	height: 1px;
	background: var(--color-4);
	background-size: cover;
	border-radius: 0;
	display: inline-block;
}

.section--features>.container>.row:nth-child(6)>.col>.data__row {
	position: relative;
	width: 100%;
	z-index: 5;
	min-height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 17px;
	padding-bottom: 17px;
	padding-right: 0;
}

.data__row>.rectangle {
	position: absolute;
	width: 100%;
	z-index: 0;
	top: 49px;
	left: 0;
	height: 1px;
	background: var(--color-4);
	background-size: cover;
	border-radius: 0;
	display: inline-block;
}

.section--features>.rectangle-2 {
	position: absolute;
	width: 100%;
	z-index: 7;
	top: 719px;
	left: 0;
	height: 1px;
	background: var(--color-6);
	background-size: cover;
	border-radius: 0;
	display: inline-block;
}

.section--credits>.rectangle-2 {
	position: absolute;
	width: 100%;
	z-index: 1;
	top: 819px;
	left: 0;
	height: 1px;
	background: var(--color-6);
	background-size: cover;
	border-radius: 0;
	display: inline-block;
}
