
/* --------------
skout! components
-------------- */

.content--hero>.hero__title {
	position: relative;
	width: 100%;
	z-index: 1;
	margin-bottom: 20px;
	text-shadow: 0px 2px 4px var(--color-1);
	align-items: flex-start;
}

.control--search>.input__placeholder {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 603px;
	align-items: flex-start;
}

.btn--md>.btn__label {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 76px;
	align-items: flex-start;
}

.header>.group>.nav--primary>.nav__item {
	position: relative;
	width: 100%;
	z-index: 0;
	max-width: 118px;
	align-items: flex-start;
}

.header>.group>.nav--primary>.nav__item-2 {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 31px;
	align-items: flex-start;
}

.logo>.skout {
	position: relative;
	width: 100%;
	z-index: 0;
	max-width: 184px;
	transform: rotateZ(-5deg);
	text-shadow: 0px 8px 8px var(--color-3);
	align-items: flex-start;
	color: var(--color-4);
	font-size: 80px;
	font-family: var(--font-4);
	letter-spacing: 0;
	text-align: center;
	line-height: 1;
}

.btn--md>.btn__label {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 76px;
	align-items: flex-start;
}

.section--whatsapp>.container>.row>.col>.group>.title {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 254px;
	align-items: flex-start;
	color: var(--color-4);
	font-size: 17px;
	font-family: var(--font-2);
	letter-spacing: 0;
	text-align: center;
	line-height: 1;
	text-transform: uppercase;
}

.label-icon>.group>.btn__label {
	position: relative;
	width: 100%;
	z-index: 0;
	max-width: 52px;
	transform: rotateZ(180deg);
	align-items: flex-start;
}

.section--signin>.container>.row>.col>.exact-h {
	position: relative;
	width: 100%;
	z-index: 1;
	min-height: 180px;
	align-items: flex-start;
	color: var(--color-6);
	font-size: 15px;
	font-family: var(--font-1);
	letter-spacing: 0;
	text-align: left;
	line-height: 2.4;
	text-transform: uppercase;
}

.section--signin>.container>.row>.col>.select-between-a-res {
	position: relative;
	width: 100%;
	z-index: 2;
	min-height: 180px;
	align-items: flex-start;
	color: var(--color-4);
	font-size: 18px;
	font-family: var(--font-1);
	letter-spacing: 0;
	text-align: left;
	line-height: 2;
}

.form__head>.head__sup {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 412px;
	align-items: center;
}

.form__head>.head__title {
	position: relative;
	width: 100%;
	z-index: 0;
	max-width: 412px;
	align-items: center;
}

.form__control>.group>.control__label {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 265px;
	align-items: flex-start;
}

.form__control>.group>.control__required {
	position: relative;
	width: 100%;
	z-index: 0;
	max-width: 87px;
	align-items: flex-start;
}

.control--text>.input__placeholder {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 384px;
	align-items: flex-start;
}

.form__control-2>.group>.control__label {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 265px;
	align-items: flex-start;
}

.form__control-2>.group>.control__required {
	position: relative;
	width: 100%;
	z-index: 0;
	max-width: 87px;
	align-items: flex-start;
}

.control--text>.input__placeholder {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 384px;
	align-items: flex-start;
}

.btn--lg>.btn__label {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 115px;
	align-items: flex-start;
}

.section--hero>.overlay {
	position: absolute;
	width: 100%;
	z-index: 1;
	top: 0;
	left: 0;
	height: 332px;
	background: linear-gradient(-180deg, #000000 0%, rgba(0, 0, 0, 0.00) 100%);
	background-size: cover;
	border-radius: 0;
	display: inline-block;
}

.section--hero>.container>.row>.col>.content--hero {
	position: relative;
	width: 100%;
	z-index: 2;
	min-height: 180px;
	display: block;
	flex-direction: column;
	padding-top: 4px;
	padding-bottom: 4px;
}

.content--hero>.control--search {
	position: relative;
	width: 100%;
	z-index: 0;
	height: 72px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 10px;
	padding-right: 20px;
	background: var(--color-4);
	background-size: cover;
	border-radius: 3px;
}

.control--search>.btn--ghost {
	position: relative;
	width: 100%;
	z-index: 2;
	max-width: 36px;
	height: 36px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	padding-right: 6px;
}

.btn--ghost>.icon {
	position: relative;
	width: 100%;
	z-index: 0;
	max-width: 24px;
	height: 24px;
	padding-left: 3px;
	padding-right: 2px;
}

.icon>.pin {
	position: relative;
	width: 100%;
	z-index: 0;
	max-width: 19px;
	height: 24px;
}

.control--search>.btn--ghost-2 {
	position: relative;
	width: 100%;
	z-index: 3;
	max-width: 36px;
	height: 36px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	padding-right: 6px;
}

.btn--ghost-2>.icon {
	position: relative;
	width: 100%;
	z-index: 0;
	max-width: 24px;
	height: 24px;
}

.icon>.crosshair {
	position: relative;
	width: 100%;
	z-index: 0;
	height: 24px;
}

.control--search>.btn--md {
	position: relative;
	width: 100%;
	z-index: 4;
	max-width: 112px;
	height: 36px;
	padding-top: 11px;
	padding-bottom: 12px;
	padding-left: 18px;
	padding-right: 18px;
	background: var(--color-6);
	background-size: cover;
	border-radius: 8px;
}

.header>.group {
	position: relative;
	width: 100%;
	z-index: 0;
	max-width: 1280px;
	height: 144px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header>.group>.nav--primary {
	position: relative;
	width: 100%;
	z-index: 0;
	max-width: 188px;
	height: 18px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header>.group>.logo {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 265px;
	height: 144px;
	padding-top: 33px;
	padding-bottom: 31px;
	padding-left: 41px;
	padding-right: 40px;
}

.header>.group>.nav--secondary {
	position: relative;
	width: 100%;
	z-index: 2;
	max-width: 157px;
	height: 36px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header>.group>.nav--secondary>.btn--icon {
	position: relative;
	width: 100%;
	z-index: 0;
	max-width: 36px;
	height: 36px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	padding-right: 6px;
	background: var(--color-6);
	background-size: cover;
	border-radius: 50%;
}

.btn--icon>.icon {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 24px;
	height: 24px;
	padding-left: 2px;
	padding-right: 1px;
}

.icon>.arrow-down {
	position: relative;
	width: 100%;
	z-index: 0;
	max-width: 21px;
	height: 24px;
}

.header>.group>.nav--secondary>.btn--md {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 112px;
	height: 36px;
	padding-top: 11px;
	padding-bottom: 12px;
	padding-left: 18px;
	padding-right: 18px;
	background: var(--color-6);
	background-size: cover;
	border-radius: 8px;
}

.section--whatsapp>.container>.row>.col>.group {
	position: relative;
	width: 100%;
	z-index: 1;
	min-height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 1px;
}

.section--whatsapp>.container>.row>.col>.group>.btn--icon-label {
	position: relative;
	width: 100%;
	z-index: 0;
	max-width: 150px;
	height: 50px;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 34px;
	padding-right: 33px;
	box-shadow: 0px 10px 20px 0px var(--color-2);
	background: var(--color-6);
	background-size: cover;
	border-radius: 8px;
}

.btn--icon-label>.label-icon {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 83px;
	height: 24px;
	padding-right: 0;
}

.label-icon>.group {
	position: relative;
	width: 100%;
	z-index: 0;
	height: 24px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 1px;
	transform: rotateZ(180deg);
}

.label-icon>.group>.icon {
	position: relative;
	width: 100%;
	z-index: 1;
	max-width: 24px;
	height: 24px;
	transform: rotateZ(180deg);
}

.icon>.whatsapp {
	position: relative;
	width: 100%;
	z-index: 0;
	height: 24px;
}

.section--signin>.container>.row>.col>.form--signin {
	position: relative;
	width: 100%;
	z-index: 3;
	min-height: 348px;
	display: block;
	flex-direction: column;
}

.form--signin>.form__head {
	position: relative;
	width: 100%;
	z-index: 3;
	height: 57px;
	display: block;
	flex-direction: column;
	margin-bottom: 22px;
	padding-top: 2px;
	padding-left: 0;
	padding-right: 0;
}

.form--signin>.form__control {
	position: relative;
	width: 100%;
	z-index: 2;
	height: 69px;
	display: block;
	flex-direction: column;
	margin-bottom: 21px;
	padding-top: 1px;
}

.form__control>.group {
	position: relative;
	width: 100%;
	z-index: 1;
	height: 11px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 7px;
	padding-left: 1px;
}

.form__control>.control--text {
	position: relative;
	width: 100%;
	z-index: 0;
	height: 50px;
	padding-top: 16px;
	padding-bottom: 18px;
	padding-left: 15px;
	padding-right: 14px;
	background: var(--color-4);
	background-size: cover;
	border: 2px solid var(--color-6);
	border-radius: 3px;
}

.form--signin>.form__control-2 {
	position: relative;
	width: 100%;
	z-index: 1;
	height: 69px;
	display: block;
	flex-direction: column;
	margin-bottom: 60px;
	padding-top: 1px;
}

.form__control-2>.group {
	position: relative;
	width: 100%;
	z-index: 1;
	height: 11px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 7px;
	padding-left: 1px;
}

.form__control-2>.control--text {
	position: relative;
	width: 100%;
	z-index: 0;
	height: 50px;
	padding-top: 16px;
	padding-bottom: 18px;
	padding-left: 15px;
	padding-right: 14px;
	background: var(--color-4);
	background-size: cover;
	border: 2px solid var(--color-6);
	border-radius: 3px;
}

.form--signin>.btn--lg {
	position: relative;
	width: 100%;
	z-index: 0;
	max-width: 150px;
	height: 50px;
	padding-top: 18px;
	padding-bottom: 19px;
	padding-left: 18px;
	padding-right: 17px;
	background: var(--color-6);
	background-size: cover;
	border-radius: 8px;
}
