
/* --------------
skout! grid
-------------- */

.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1300px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 10.00px;
	padding-left: 10.00px;
}

.row {
	width: 100%;
	flex: 1 0 100%;
	display: flex;
	flex-wrap: wrap;
	margin-right: -10.00px;
	margin-left: -10.00px;
}

.col {
	width: auto;
	flex: 1 1 auto;
}

.col-1 {
	position: relative;
	width: 100%;
	padding-right: 10.00px;
	padding-left: 10.00px;
	flex: 0 0 8.333%;
	max-width: 8.333%;
}

.col-2 {
	position: relative;
	width: 100%;
	padding-right: 10.00px;
	padding-left: 10.00px;
	flex: 0 0 16.667%;
	max-width: 16.667%;
}

.col-3 {
	position: relative;
	width: 100%;
	padding-right: 10.00px;
	padding-left: 10.00px;
	flex: 0 0 25.000%;
	max-width: 25.000%;
}

.col-4 {
	position: relative;
	width: 100%;
	padding-right: 10.00px;
	padding-left: 10.00px;
	flex: 0 0 33.333%;
	max-width: 33.333%;
}

.col-5 {
	position: relative;
	width: 100%;
	padding-right: 10.00px;
	padding-left: 10.00px;
	flex: 0 0 41.667%;
	max-width: 41.667%;
}

.col-6 {
	position: relative;
	width: 100%;
	padding-right: 10.00px;
	padding-left: 10.00px;
	flex: 0 0 50.000%;
	max-width: 50.000%;
}

.col-7 {
	position: relative;
	width: 100%;
	padding-right: 10.00px;
	padding-left: 10.00px;
	flex: 0 0 58.333%;
	max-width: 58.333%;
}

.col-8 {
	position: relative;
	width: 100%;
	padding-right: 10.00px;
	padding-left: 10.00px;
	flex: 0 0 66.667%;
	max-width: 66.667%;
}

.col-9 {
	position: relative;
	width: 100%;
	padding-right: 10.00px;
	padding-left: 10.00px;
	flex: 0 0 75.000%;
	max-width: 75.000%;
}

.col-10 {
	position: relative;
	width: 100%;
	padding-right: 10.00px;
	padding-left: 10.00px;
	flex: 0 0 83.333%;
	max-width: 83.333%;
}

.col-11 {
	position: relative;
	width: 100%;
	padding-right: 10.00px;
	padding-left: 10.00px;
	flex: 0 0 91.667%;
	max-width: 91.667%;
}

.col-12 {
	position: relative;
	width: 100%;
	padding-right: 10.00px;
	padding-left: 10.00px;
	flex: 0 0 100.000%;
	max-width: 100.000%;
}

.offset-1 {
	margin-left: 8.333%;
}

.offset-2 {
	margin-left: 16.667%;
}

.offset-3 {
	margin-left: 25.000%;
}

.offset-4 {
	margin-left: 33.333%;
}

.offset-5 {
	margin-left: 41.667%;
}

.offset-6 {
	margin-left: 50.000%;
}

.offset-7 {
	margin-left: 58.333%;
}

.offset-8 {
	margin-left: 66.667%;
}

.offset-9 {
	margin-left: 75.000%;
}

.offset-10 {
	margin-left: 83.333%;
}

.offset-11 {
	margin-left: 91.667%;
}

.offset-12 {
	margin-left: 100.000%;
}

@media (max-width: 640px) {

	.col-1,
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.col-9,
	.col-10,
	.col-11,
	.col-12 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.offset-1,
	.offset-2,
	.offset-3,
	.offset-4,
	.offset-5,
	.offset-6,
	.offset-7,
	.offset-8,
	.offset-9,
	.offset-10,
	.offset-11,
	.offset-12 {
		margin-left: 0;
	}

	* {
		text-align: center !important;
		display: block !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
}
