
/* --------------
skout! page
-------------- */

.homepage {
	position: relative;
	width: 100%;
	z-index: 0;
	min-height: 3000px;
	display: block;
	flex-direction: column;
	padding-bottom: 692px;
	background-color: #111111;
}

.homepage>.section--hero {
	position: relative;
	width: 100%;
	z-index: 0;
	min-height: 608px;
	align-items: center;
	background: url('../img/background.jpg') no-repeat center;
	background-size: cover;
	border-radius: 0;
}

.section--hero>.container {
	padding-top: 270px;
	padding-bottom: 158px;
}

.section--hero>.header {
	position: absolute;
	width: 100%;
	z-index: 4;
	top: 0;
	left: 0;
	height: 160px;
	max-width: 1440px;
	padding-top: 8px;
	padding-bottom: 8px;
	align-items: center;
	padding-left: 79px;
	padding-right: 81px;
}

.homepage>.section--whatsapp {
	position: relative;
	width: 100%;
	z-index: 1;
	min-height: 160px;
	align-items: center;
	background: var(--color-5);
	background-size: cover;
	border-radius: 0;
}

.section--whatsapp>.container {
	padding-top: 55px;
	padding-bottom: 55px;
	align-items: center;
}

.homepage>.section--features {
	position: relative;
	width: 100%;
	z-index: 2;
	min-height: 720px;
	align-items: center;
	border-radius: 0;
}

.section--features>.container {
	padding-top: 100px;
	padding-bottom: 204px;
}

.homepage>.section--credits {
	position: relative;
	width: 100%;
	z-index: 3;
	min-height: 820px;
	align-items: center;
	border-radius: 0;
}

.section--credits>.container {
	padding-top: 94px;
	padding-bottom: 63px;
}
