
/* --------------
skout! page
-------------- */

.homepage {
	position: relative;
	width: 100%;
	z-index: 0;
	height: 1440px;
	display: block;
	flex-direction: column;
	padding-bottom: 2px;
	background-color: #111111;
}

.homepage>.section--hero {
	position: relative;
	width: 100%;
	z-index: 0;
	height: 608px;
	background: url('../img/background.jpg') no-repeat center;
	background-size: cover;
	border-radius: 0;
}

.section--hero>.container {
	padding-top: 270px;
	padding-bottom: 158px;
}

.section--hero>.header {
	position: absolute;
	width: 100%;
	z-index: 3;
	top: 0;
	left: 0;
	height: 160px;
	max-width: 1440px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 79px;
	padding-right: 81px;
}

.homepage>.section--whatsapp {
	position: relative;
	width: 100%;
	z-index: 1;
	height: 110px;
	background: var(--color-6);
	background-size: cover;
	border-radius: 0;
}

.section--whatsapp>.container {
	align-items: center;
}

.homepage>.section--signin {
	position: relative;
	width: 100%;
	z-index: 2;
	height: 720px;
	border-radius: 0;
}

.section--signin>.container {
	padding-top: 80px;
	padding-bottom: 44px;
}
