
/* --------------
skout! typography
-------------- */

.hero__title {
	color: var(--color-4);
	font-size: 40px;
	font-family: var(--font-1);
	letter-spacing: 0;
	text-align: center;
	line-height: 1;
}

.search__placeholder {
	color: var(--color-5);
	font-size: 19px;
	font-family: var(--font-2);
	letter-spacing: 0;
	text-align: left;
	line-height: 1;
}

.btn__label {
	color: var(--color-4);
	font-size: 15px;
	font-family: var(--font-2);
	letter-spacing: 1px;
	text-align: center;
	line-height: 0.8666666666666667;
	text-transform: uppercase;
}

.nav--item {
	color: var(--color-4);
	font-size: 16px;
	font-family: var(--font-3);
	letter-spacing: 0;
	text-align: left;
	line-height: 1;
}

.data__label {
	color: var(--color-5);
	font-size: 16px;
	font-family: var(--font-2);
	letter-spacing: 0;
	text-align: left;
	line-height: 1;
}

.data__value {
	color: var(--color-4);
	font-size: 16px;
	font-family: var(--font-2);
	letter-spacing: 0;
	text-align: left;
	line-height: 1;
}
