
/* --------------
skout! typography
-------------- */

.hero__title {
	color: #FFFFFF;
	font-size: 32px;
	font-family: 'KatahdinRound-Regular';
	letter-spacing: 0;
	text-align: center;
	line-height: 1;
}

.search__placeholder {
	color: #A3A6A8;
	font-size: 19px;
	font-family: 'GothamHTF-Book';
	letter-spacing: 0;
	text-align: left;
	line-height: 1;
}

.btn__label {
	color: #FFFFFF;
	font-size: 13px;
	font-family: 'GothamHTF-Medium';
	letter-spacing: 1px;
	text-align: center;
	line-height: 1;
	text-transform: uppercase;
}

.nav--item {
	color: #FFFFFF;
	font-size: 16px;
	font-family: 'GothamHTF-Book';
	letter-spacing: 0;
	text-align: left;
	line-height: 1;
}

.head__sup {
	color: #A3A6A8;
	font-size: 16px;
	font-family: 'KatahdinRound-Regular';
	letter-spacing: 0;
	text-align: left;
	line-height: 1;
	text-transform: uppercase;
}

.head__title {
	color: #000000;
	font-size: 26px;
	font-family: 'KatahdinRound-Regular';
	letter-spacing: 0;
	text-align: left;
	line-height: 1;
	text-transform: uppercase;
}

.control__label {
	color: #000000;
	font-size: 11px;
	font-family: 'KatahdinRound-Regular';
	letter-spacing: 0;
	text-align: left;
	line-height: 1;
	text-transform: uppercase;
}

.control__required {
	color: #E2007A;
	font-size: 10px;
	font-family: 'KatahdinRound-Regular';
	letter-spacing: 0;
	text-align: right;
	line-height: 1;
	text-transform: uppercase;
}

.input__placeholder {
	color: #7F7F7F;
	font-size: 16px;
	font-family: 'GothamHTF-Book';
	letter-spacing: 0;
	text-align: left;
	line-height: 1;
}
