
/* --------------
skout! vars
-------------- */

:root {
	--color-1: rgb(0, 0, 0, 0.4);
	--color-2: rgb(0, 0, 0, 0.5);
	--color-3: rgb(0, 0, 0, 0.15);
	--color-4: #ffffff;
	--color-5: #686868;
	--color-6: #0100d2;
	--color-7: #000000;
	--font-1: 'BalooBhaina-Regular';
	--font-2: 'OpenSans-Semibold';
	--font-3: 'GothamHTF-Book';
	--font-4: 'Yesteryear-Regular';
}
