
/* --------------
skout! vars
-------------- */

:root {
	--color-1: rgb(0, 0, 0, 0.4);
	--color-2: rgb(0, 0, 0, 0.15);
	--color-3: #ffffff;
	--color-4: #0024ff;
	--color-5: rgb(0, 36, 255, 0.3);
	--color-6: rgb(0, 36, 255, 0.2);
	--font-1: 'BalooBhaina-Regular';
	--font-2: 'OpenSans-Semibold';
	--font-3: 'Yesteryear-Regular';
}
