
/* --------------
skout! vars
-------------- */

:root {
	--color-1: #ffffff;
	--color-2: #a3a6a8;
	--color-3: #e2007a;
	--color-4: #000000;
	--color-5: #dcdcdc;
	--color-6: #7f7f7f;
	--font-1: 'KatahdinRound-Regular';
	--font-2: 'GothamHTF-Book';
	--font-3: 'GothamHTF-Medium';
}
