.search-title {
	color: #FFFFFF;
	font-size: 32px;
	font-family: 'KatahdinRound-Regular';
	letter-spacing: 0;
	text-align: center;
	line-height: 1;
}

:host>.hero-title {
	display: block;
	position: relative;
	width: 847px;
	height: 32px;
	z-index: 0;
	margin: 0px 0px 25px 0px;
	align-items: flex-start;
}

:host>.search-bar {
	display: block;
	position: relative;
	width: 847px;
	height: 72px;
	z-index: 1;
	background: #ffffff;
	background-size: cover;
	border-radius: 3px;
}
