html {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

p {
	margin: 0;
}

/*
.scomponent {
	display: flex;
}
*/

.stext {
	display: inline-flex;
}

.stext>div {
	width: 100%;
}

button {
	margin: 0;
	padding: 0;
	overflow: visible;
	outline: none;
	border: none;
	background: transparent;
	color: inherit;
	font: inherit;
	line-height: normal;
	text-align: inherit;
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
	-webkit-appearance: none;
	cursor: pointer;
	transition: filter ease-in-out 200ms;
}

button:hover {
	filter: brightness(80%);
}

button:active {
	filter: brightness(200%);
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

input {
	border: 0;
	outline: none;
	-webkit-appearance: none;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
}
