.btn-primary-label {
	color: #FFFFFF;
	font-size: 13px;
	font-family: 'GothamHTF-Medium';
	letter-spacing: 1.2px;
	text-align: center;
	line-height: 1;
	text-transform: uppercase;
}

:host>.group>.label {
	display: block;
	position: relative;
	width: 51px;
	height: 13px;
	z-index: 0;
	margin: 0px 8px 0px 0px;
	transform: rotateZ(-180deg);
	align-items: flex-start;
}

:host>.group {
	display: flex;
	position: relative;
	width: 83px;
	height: 24px;
	z-index: 0;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transform: rotateZ(-180deg);
}

:host>.group>.whatsapp {
	display: block;
	position: relative;
	width: 24px;
	height: 24px;
	z-index: 1;
	transform: rotateZ(-180deg);
}
